--- 
---



/* Cambiar el color del link de HackTheBox a verde */
.hackthebox-icon a {
  color: #00ff00 !important; 
}

.hackthebox-icon a:hover {
  color: #00cc00 !important; 
  text-decoration: underline; 
}


/* Cambiar el color de italic */
em {
    color: #ff6b6b; /* Rojo suave */
    font-style: italic;
  }
  
  /* Cambiar el color de bold */
  strong {
    color: #1f7a8c; /* Azul oscuro */
    font-weight: bold;
  }
  
 