--- 
---

em {
    color: #ff6b6b; /* Rojo suave */
    font-style: italic;
  }
  
  /* Cambiar el color de bold */
  strong {
    color: #1f7a8c; /* Azul oscuro */
    font-weight: bold;
  }
  
  /* Cambiar el color de code inline */
 